# Ignore Mac executables
*.app

# Ignore Win executables
*.exe
*.mxf
*/resources/**
resources/**

# Ignore audio files for now
# Add extensions if necessary
**/*.wav
**/*.aif
**/*.aiff

# Ignore samplebanks
SampleBanks/*